<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <img id="image" src="./icon/logo.png">
        <div id="info">
            <h1>
            (خمس) شبكات أمان تحتاج إليها في حياتك
            
            </h1>
            <p>
            شبكة العلاقاتالمثل يقول "معرفة الرجال تجارة" هذا واقع، فكلما توسعت وتنوعت شبكة علاقاتك فإن ذلك سيساعدك في نمو أعمالك وتطورها، المهم أن تكون ممن يستطيع أن يضع بصمة ويترك أثرا في هذه الشبكة حتى يمكن الوصول إليك وتذكّرك بشكل دائم.شبكة الشركاءالشريك هو الشخص الذي يقوم بتكملة النقص لديك، شريك حياتك زوجتك التي تعني ببيتك وتربي أولادك، شريكك في العمل الذي يستطيع الاستمرار بالسفينة في حال مرضك لا سمح الله، أو شريك السفر الذي يساندك ويشدد من أزرك في الغربة.شبكة الأصدقاءمن أسوء ما حصل لنا بعد تقدمنا بالعمر وانشغالنا بطلب العيش والسفر والتنقل في الغربة، هو عدم وجود أصدقائك ا...
            </p>
            <div id="url_posts">
                <p id="posts">
                    Post link
                </p>
                <p id="url">
                
                https://104.248.253.246/contents/blog/khms-shbkat-aman-thtaj-lha-fy-hyatk

                </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="./icon/logo.png" id="footer_icon">
        <p id="footer_website">bassam.social</p>
    </div>
</body>
</html>