<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <img id="icon" src="./image/bassam-main-logo.svg">
    <img src="https://discourse.aosus.org/uploads/default/optimized/2X/c/c65c0af8f393432b982c6cf67846bff032a2523c_2_690x372.jpeg"id="image">
    <p id="title">تثبيت توزيعة فيدورا محطة العمل 37 (Fedora Workstation 37)</p>
    <p id="content">
    مقدمة:
فيدورا توزيعة مستقلة منبعية حرة مدعومة من قبل المجتمع وترعاها شركة ريدهات الغنية عن التعريف، تسعى لتقديم أحدث التقنيات والحزم الحرة والمفتوحة المصدر المستقرة والمختبرة لمستخدميها، ستهدف المستخدم المبتدئ والمتقدم، تمثل منبعا لتوزيعة ريدهات إنترپرايز لنكس (RHEL) والتوزيعات المبنية عليها كروكي لينكس وآلما لينكس حتى التوزيعات الأخرى غير المبنية 
    </p>

    <img src="./image/logo.png" id="fot_icon">
    <p class="fot">الخلاصة من موقع: http://discourse.aosus.org/latest.rss</p>
</body>

</html>