@font-face {
    font-family: "Al_Jazeera";
    src: url(./font/Al-Jazeera-Arabic-Bold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Greta_Arabic";
    src: url(./font/Greta_Arabic_Regular.ttf) format("truetype");
  }

body {
    margin: 0 0 0 0;
    background-color: #d3d3d3;
}
#header{
    margin-top: 20px;
    direction: rtl;
}
#header p{
    margin-right: 40px;
    display: inline-flex;
    background-color: #e22b2b;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    font-family: 'Al_Jazeera';
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem hsl(0 0% 0% / 30%);
}

#content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
    font-family: 'Al_Jazeera';
}

#image {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1rem 1rem hsl(0 0% 0% / 30%);
    margin-right: 80px;
}

#info {
    direction: rtl;
    padding: 10px;
    /* word-break: break-all; */
    
}

#info h1 {
    color: #802be2;
    text-align: center;
}
#info p {
    margin-top: 50px;
    color: #474747;
    text-align: center;

}

#url_posts {
    
    text-align: center;
    direction: ltr ;
}

#posts{
    margin-bottom: 0px;
    font-size: 12px;
    color: #802be2 !important;
}
#url {
    margin-top: 0px !important;
    font-size: 14px;
    color: #444444 !important;
    font-family: 'Greta_Arabic';
}

#footer {
    display: flex;
    width: 100%;
    bottom: 0;
    position:relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

#footer p {
    margin: 0 0 0 0;
}


#footer_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#footer_website{
    text-align: center;
    font-family: 'Al_Jazeera';
    color: #464646;
    font-size: 12px;
}
