@font-face {
    font-family: "Vazirmatn_Regular";
    src: url(./font//Vazirmatn-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Vazirmatn_ExtraLight";
    src: url(./font//Vazirmatn-ExtraLight.ttf) format("truetype");
}
@font-face {
    font-family: "Vazirmatn_Bold";
    src: url(./font//Vazirmatn-Bold.ttf) format("truetype");
}

html,
body {
    background-color: #f1f1f1;
    margin: 0 0 0 0 !important;
    direction: rtl;
}


#icon {
    display: block;
    max-width: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

#image {
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

#title{
    text-align: center;
    font-family: "Vazirmatn_Bold";
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    color: #7339e0;
    background-color: #e2e2e2;
    border-radius: 20px;
    box-shadow   : 0px 0px 20px 0px rgba(0, 0, 0, 0.048);
    border          : 0.5px;
    border-style    : solid;
    border-color    : #c5c5c5;
}

#content{
    text-align: center;
    font-family: "Vazirmatn_Regular";
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 20px;
    box-shadow   : 0px 0px 20px 0px rgba(0, 0, 0, 0.048);
    border          : 0.5px;
    border-style    : solid;
    border-color    : #c5c5c5;
    color: #5e5e5e;
}


.fot{
    font-family: "Vazirmatn_ExtraLight";
    font-size: 12px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

#fot_icon{
    display: block;
    width: 33px;
    height: 33px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}